<ng-container *ngIf="viewModel$ | async as viewModel">
    <div class="tool-bar">
        <span class="search-tool">
            <label for="herosearch">Search: </label>
            <input
                name="herosearch"
                [value]="viewModel.search"
                (input)="doSearch($event)"
            />
        </span>
        <span class="page-tool">
            <label
                >Page {{ viewModel.page }} of {{ viewModel.totalPages }} :
            </label>
            <span class="buttons">
                <button
                    class="prev"
                    (click)="movePageBy(-1)"
                    [disabled]="viewModel.disablePrevious"
                >
                    Prev
                </button>
                <button
                    class="next"
                    (click)="movePageBy(1)"
                    [disabled]="viewModel.disableNext"
                >
                    Next
                </button>
            </span>
        </span>
        <span class="result-tool">
            <label>Show Results: </label>
            <span class="buttons">
                <button
                    *ngFor="let limit of hero.limits"
                    (click)="setLimit(limit)"
                    [disabled]="viewModel.limit === limit"
                >
                    {{ limit }}
                </button>
            </span>
        </span>
        <span class="total-tool">
            <label>Total Results: {{ viewModel.totalResults }}</label>
        </span>
    </div>
    <div class="table-content">
        <rx-hero-badge
            *ngFor="let hero of viewModel.heroes"
            [hero]="hero"
        ></rx-hero-badge>
    </div>
</ng-container>
